{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>Anthony Tapias</title>
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> -->
        <meta name="google" content="notranslate" />

            <link rel="stylesheet" href="{% static 'temp/css/custom-bs.css' %}">
            <link rel="stylesheet" href="{% static 'temp/css/jquery.fancybox.min.css' %}">
            <link rel="stylesheet" href="{% static 'temp/fonts/icomoon/style.css' %}">
            <link rel="stylesheet" href="{% static 'temp/fonts/line-icons/style.css' %}">


            <link rel="stylesheet" href="{% static 'temp/css/style.css' %}">
    </head>

    <body>
        <!-- <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #222831;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style> -->

        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light  " style="background-color: #1b262c; id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="{% url 'home' %}">Anthony Tapias</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-white">
                            <a class="nav-link text-white font-weight-bold" href="{% url 'projects' %}">Projects</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link text-white font-weight-bold" href="{% url 'about'%}">About</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link text-white font-weight-bold" href="{% url 'blog'%}">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="site-footer slanted-footer">

          <a href="#top" class="smoothscroll scroll-top">
            <span class="icon-keyboard_arrow_up"></span>
          </a>

          <div class="container">
            <div class="row mb-5">
              <!-- <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Scenic Products</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">Graphic Design</a></li>
                  <li><a href="#">Web Developers</a></li>
                  <li><a href="#">Resources</a></li>
                </ul>
              </div> -->
              <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Web Site</h3>
                <ul class="list-unstyled">
                  <li><a href="{% url 'about' %}">About Me</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="{% url 'blog' %}">Blog</a></li>
                  <li><a href="{% url 'projects' %}">Projects</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Support</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms of Service</a></li>
                </ul>
              </div>
              <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Contact Us</h3>
                <div class="footer-social">

                  <a href="#"><span class="icon-twitter"></span></a>

                  <a href="https://www.linkedin.com/in/anthonytapias/"><span class="icon-linkedin"></span></a>
                </div>
              </div>
            </div>


          </div>
        </footer>
    </body>
</html>
